*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

.contact {
  background-color: #f7fbfc;
  color: #3f72af; }
  .contact__title {
    padding-top: 20rem;
    color: #995d09;
    text-align: center;
    font-size: 3rem;
    font-weight: 600; }
    @media only screen and (max-width: 992px) {
      .contact__title {
        padding-top: 15rem; } }
  .contact__text {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    text-align: center; }
    @media only screen and (max-width: 992px) {
      .contact__text {
        font-size: 1.8rem; } }
    @media only screen and (max-width: 768px) {
      .contact__text {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 576px) {
      .contact__text {
        margin-left: 3rem;
        margin-right: 3rem; } }

.contact__nav {
  background-color: #f7fbfc;
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .contact__nav--item {
    list-style: none;
    text-decoration: none; }

.email {
  height: 3rem;
  width: 3rem;
  margin-right: 5rem;
  fill: #3f72af; }

.linkedin {
  height: 3rem;
  width: 5rem;
  margin-right: 5rem;
  fill: #3f72af; }

.github {
  height: 3rem;
  width: 3rem;
  fill: #3f72af; }

/* Navigation Bar */
.navbar-brand {
  font-size: 3rem;
  font-family: 'open-sams'; }

.navbar-toggler {
  margin-right: 2rem; }

.nav-item {
  margin-right: 5rem;
  font-size: 2.4rem; }
  @media only screen and (max-width: 1200px) {
    .nav-item {
      margin-right: 3rem;
      font-size: 2rem; } }

.navbar ul li .underline {
  height: 3px;
  background-color: transparent;
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .navbar ul li .underline {
      height: 0;
      transition: none; } }

.navbar ul li:hover .underline {
  width: 100%;
  background-color: #ff0000; }

.home {
  text-align: center;
  padding: 30vh 0; }
  .home__text {
    font-size: 5rem;
    color: #3f72af; }
    .home__text--h1 {
      font-size: 5rem; }
      @media only screen and (max-width: 576px) {
        .home__text--h1 {
          font-size: 2.5rem; } }
    .home__text--highlight {
      color: #995d09; }
    .home__text--description {
      font-size: 3rem; }
      @media only screen and (max-width: 576px) {
        .home__text--description {
          font-size: 2rem; } }

.about {
  background-color: #f7fbfc;
  color: #3f72af;
  text-align: center;
  padding: 20rem 25rem; }
  @media only screen and (max-width: 992px) {
    .about {
      padding: 15rem 10rem; } }
  @media only screen and (max-width: 992px) {
    .about {
      padding: 15rem 10rem; } }
  @media only screen and (max-width: 768px) {
    .about {
      padding: 10rem 5rem; } }
  .about__title {
    color: #995d09;
    font-size: 3rem;
    font-weight: 600; }
  .about__text {
    padding-top: 5rem;
    font-size: 2rem;
    text-align: left; }
    @media only screen and (max-width: 992px) {
      .about__text {
        padding-top: 2rem;
        padding-left: 5rem;
        font-size: 1.8rem; } }
    @media only screen and (max-width: 768px) {
      .about__text {
        font-size: 1.7em;
        text-align: center; } }
  .about__responsive {
    height: 20rem;
    width: 20rem;
    fill: #3f72af; }
    @media only screen and (max-width: 992px) {
      .about__responsive {
        height: 18rem;
        width: 18rem; } }
    @media only screen and (max-width: 768px) {
      .about__responsive {
        height: 15rem;
        width: 15rem; } }

.about__column {
  float: left;
  width: 50%;
  padding: 1rem; }
  @media only screen and (max-width: 768px) {
    .about__column {
      width: 100%; } }

.about__row {
  padding-top: 5rem;
  text-align: right; }
  @media only screen and (max-width: 768px) {
    .about__row {
      text-align: center; } }

.about__row::after {
  content: "";
  display: table;
  clear: both; }

.projects {
  background-color: #f7fbfc;
  color: #3f72af; }
  .projects__title {
    color: #995d09;
    text-align: center;
    font-size: 3rem;
    font-weight: 600; }
  .projects__text {
    padding: 5rem;
    font-size: 2rem;
    text-align: center; }
    @media only screen and (max-width: 992px) {
      .projects__text {
        font-size: 1.8rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 768px) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 768px) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 768px) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 768px) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }

.card {
  background-color: transparent;
  border: none;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem; }
  .card__side {
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #f7fbfc; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #101d2c, #c69963); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #ff4c68, #ef8271); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #ba265d, #eb2f64); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: url(../img/nexter.png); }
    .card__picture--2 {
      background-image: url(../img/tindog.png); }
    .card__picture--3 {
      background-image: url(../img/trillo.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    color: #f7fbfc;
    position: absolute;
    top: 20rem;
    right: 1rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.85), rgba(198, 153, 99, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(255, 76, 104, 0.85), rgba(239, 130, 113, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(186, 38, 93, 0.85), rgba(235, 47, 100, 0.85)); }
  .card__details {
    padding-top: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      padding-left: 0; }
      @media only screen and (max-width: 992px) {
        .card__details ul {
          width: 90%; } }
      .card__details ul li {
        text-align: center;
        font-size: 2rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #000; }
        @media only screen and (max-width: 992px) {
          .card__details ul li {
            font-size: 1.8rem; } }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__back-detail-box {
    text-align: center;
    color: #f7fbfc;
    margin-bottom: 8rem; }
  .card__back-detail-title {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__back-detail-text {
    font-size: 2rem;
    font-weight: 100; }
  @media only screen and (max-width: 768px) {
    .card {
      height: auto;
      border-radius: 10px;
      background-color: #f7fbfc;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          border-radius: 0 0 10px 10px;
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__details {
        padding: 1 3rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; } }

.btn-lg {
  text-decoration: none;
  color: #3f72af;
  font-weight: 600; }
  .btn-lg:not(:last-child) {
    margin-right: 2rem; }

.footer {
  margin-top: -5vh;
  background-color: #f7fbfc;
  text-align: center; }

.copyright {
  padding-top: 8rem;
  color: #3f72af;
  font-size: 1.4rem;
  padding-bottom: 5rem; }

.bg-img {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/desk-bg.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover; }
