.about {
	background-color: $color-broken-white;
	color: $color-primary;
	text-align: center;
	padding: 20rem 25rem;

	@include respond(desktop) {
		padding: 15rem 10rem;
	}

	@include respond(desktop) {
		padding: 15rem 10rem;
	}

	@include respond(tablet) {
		padding: 10rem 5rem;
	}

	&__title {
		color: $color-highlight;
		font-size: 3rem;
		font-weight: 600;
	}

	&__text {
		padding-top: 5rem;
		font-size: 2rem;
		text-align: left;

		@include respond(desktop) {
			padding-top: 2rem;
			padding-left: 5rem;
			font-size: 1.8rem;
		}

		@include respond(tablet) {
			font-size: 1.7em;
			text-align: center;
		}
	}

	&__responsive {
		height: 20rem;
		width: 20rem;
		fill: $color-primary;

		@include respond(desktop) {
			height: 18rem;
			width: 18rem;
		}

		@include respond(tablet) {
			height: 15rem;
			width: 15rem;
		}
	}
}

.about__column {
	float: left;
	width: 50%;
	padding: 1rem;

	@include respond(tablet) {
		width: 100%;
	}
}

.about__row {
	padding-top: 5rem;
	text-align: right;

	@include respond(tablet) {
		text-align: center;
	}
}

.about__row::after {
	content: "";
	display: table;
	clear: both;
}
