// COLOR VARIABLES
$color-black: #000;
$color-broken-white: #f7fbfc;
$color-highlight: #995d09;
$color-red: #ff0000;

$color-primary: #3f72af;

$color-nexter-primary: #101d2c;
$color-nexter-secondary: #c69963;

$color-tindog-primary: #ff4c68;
$color-tindog-secondary: #ef8271;

$color-trillo-primary: #ba265d;
$color-trillo-secondary: #eb2f64;

$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 2rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
