// COLOR VARIABLES
$color-black: #000;
$color-broken-white: #f7fbfc;

$color-blue-light: #d6e6f2;
$color-blue-medium: #b9d7ea;
$color-blue-darker: #769fcd;
$color-blue-dark: #3f72af;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	// padding: 3rem;

	@include respond(tab-port) {
		padding: 0;
	}

	font-family: 'Open Sans', sans-serif;
	// font-weight: 400;
	// line-height: 1.6;
	// min-height: 100vh;
}
