.contact {
	background-color: $color-broken-white;
	color: $color-primary-dark;

	&__title {
		padding-top: 20rem;
		color: $color-highlight;
		text-align: center;
		font-size: 3rem;
		font-weight: 600;

		@include respond(desktop) {
			padding-top: 15rem;
		}
	}

	&__text {
		margin-top: 5rem;
		margin-bottom: 5rem;
		font-size: 2rem;
		text-align: center;

		@include respond(desktop) {
			font-size: 1.8rem;
		}

		@include respond(tablet) {
			font-size: 1.5rem;
		}

		@include respond(phone) {
			margin-left: 3rem;
			margin-right: 3rem;
			// font-size: 1.1rem;
		}
	}
}

.contact__nav {
	background-color: $color-broken-white;
	flex: 0 0 40%;
	display: flex;
	align-items: center;
	justify-content: center;

	&--item {
		list-style: none;
		text-decoration: none;
	}
}

.email {
	height: 3rem;
	width: 3rem;
	margin-right: 5rem;
	fill: $color-primary-dark;
}

.github {
	height: 3rem;
	width: 3rem;
	margin-right: 5rem;
	fill: $color-primary-dark;
}

.linkedin {
	height: 3rem;
	width: 3rem;
	fill: $color-primary-dark;
}
