.footer {
	padding-top: 10vh;
	background-color: $color-broken-white;
	text-align: center;
}

.copyright {
	padding-top: 8rem;
	color: $color-blue-darker;
	font-size: 1.4rem;
	padding-bottom: 5rem;
}
