.header {
	background-color: $color-blue-medium;
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.logo {
	margin-left: 1rem;
	margin-top: 1rem;

	// add logo image later => text for now
	font-size: 2rem;
	color: $color-blue-dark;
}

.menu {
	display: flex;
}

.nav {
	list-style: none;
	font-weight: 600;

	&__item {
		align-items: flex-start;
		position: relative;
		list-style: none;
		margin-right: 15rem;
		margin-top: 1rem;
		font-size: 2rem;
	}

	&__link {
		text-decoration: none;
		color: $color-blue-dark;
	}

	&__item::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 10%;
		width: 3px;
		background-color: red;
		transform: scaleY(0);
		transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s, background-color .1s;
	}

	&__item:active::before {
		background-color: $color-blue-dark;
	}

	&__item:hover::before,
	&__item--active::before {
		transform: scaleY(1);
		width: 100%;
	}
}
