@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both; // left and right
	}
}

@mixin respond($breakpoint) {
	// Small devices (landscape phones, 576px and down)
	@if $breakpoint == phone {
		@media only screen and (max-width: 576px) {
			@content;
		}
	}

	// small devives (portrait phones, 576px and down)
	@if $breakpoint == phone-land {
		@media only screen and (min-width: 576px) {
			@content;
		}
	}

	// Medium devices (tablets, 768px and down)
	@if $breakpoint == tablet {
		@media only screen and (max-width: 768px) {
			@content;
		}
	}

	// Large devices (desktops, 992px and down)
	@if $breakpoint == desktop {
		@media only screen and (max-width: 992px) {
			@content;
		}
	}

	// large devices (1200px and down)
	@if $breakpoint == lg-desktop {
		@media only screen and (max-width: 1200px) {
			@content;
		}
	}

	// Extra large devices (1600px and up)
	// @if $breakpoint == xl-desktop {
	// 	@media only screen and (min-width: 1600px) {
	// 		@content;
	// 	}
	// }
}
